* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  background-color: whitesmoke;
}

section {
  padding: 10px 0;
}

h1 {
  margin: 15px 0 0 0;
  font-size: 45px;
}

.form-error {
  color: rgb(253, 27, 20);
}

.max-width {
  max-width: 380px;
}

h2,
h3 {
  margin: 15px 0;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 8px;
  margin-bottom: 8px;
}

button {
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  padding: 10px;
  border: solid #444 1px;
  color: #444;
  font-weight: bold;
}

.button-secondary {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.125rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #444;
  color: #444;
  background-color: white;
  touch-action: manipulation;
}

.button-primary {
  color: #ffffff;
  background-color: rgb(45, 51, 63);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.125rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 16px;
  touch-action: manipulation;
}

.button-primary:hover,
.button-secondary:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.sub-section {
  padding: 7px 0;
}

.centered-text {
  text-align: center !important;
}

.help {
  font-size: 12px;
}

#container-compare,
#container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}

form {
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
}

input,
textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

select {
  height: 48px;
  font-size: 20px;
  margin-left: 5px;
  -webkit-appearance: menulist-button;
  border-color: rgb(166, 166, 166);
  background-color: white;
}

input[type="number"] {
  width: 70px;
}

/*
button:disabled {
  color: darkgray;
}*/

label {
  display: block;
}

fieldset {
  text-align: left;
  border: none;
  padding: 0;
}

.form-section {
  margin-bottom: 20px;
}

canvas {
  cursor: crosshair;
  touch-action: none;
}

.custom-select .Select-control {
  padding: 9px;
}
.custom-select .Select-placeholder {
  margin-top: 12px;
}

.custom-select .Select-input {
  margin-left: 1px;
}

.custom-select .Select-value {
  margin: 3px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 400;
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.card-body {
  padding: 20px;
}

.card-header {
  padding: 1.6rem 1rem;
  text-align: center;
  color: #fff !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem 0.25rem 0 0;
}

.card-footer {
  width: 100%;
  padding: 1.6rem 1rem;
  background-color: gainsboro;
  color: #444;
  border-radius: 0 0 0.25rem 0.25rem;
  margin-bottom: -10px;
}

.single-form-container {
  max-width: 400px;
  margin: 0 auto;
}

/* circular chart */

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.flex-wrapper .single-chart {
  width: 30% !important;
  justify-content: space-around !important;
}

.flex-wrapper .circular-chart {
  display: block !important;
  margin: 10px auto !important;
  max-width: 80% !important;
  max-height: 250px !important;
}

.flex-wrapper .circle-bg {
  fill: none !important;
  stroke: #eee !important;
  stroke-width: 3.8 !important;
}

.flex-wrapper .circle {
  fill: none !important;
  stroke-width: 2.8 !important;
  stroke-linecap: round !important;
  animation: progress 1s ease-out forwards !important;
}

.flex-wrapper .circular-chart.orange .circle {
  stroke: #ff9f00;
}

.flex-wrapper .percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
