.score {
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 3px;
  padding-top: 3px;
}

.red {
  color: black;
  background-color: rgb(253, 27, 20);
}

.blue {
  color: black;
  background-color: rgb(65, 183, 200);
}

.yellow {
  color: black;
  background-color: #fff535;
}

.white {
  color: black;
  background-color: white;
}

.black {
  color: white;
  background-color: black;
}
