.landing-page header {
  height: 100vh;
  min-height: 600px;
}

.view {
  height: 100%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.landing-page h1 {
  color: white;
  text-transform: uppercase;
}

.landing-page header button {
  border: solid white 1px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  margin: 20px 5px;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
}

header p {
  margin: 0 auto;
  color: white;
  max-width: 300px;
  line-height: 1.5;
  font-weight: 100;
}

.container {
  padding-top: 200px;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}

h3 {
  margin-top: 0;
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.column-60 {
  flex: 0 0 60%;
  max-width: 60%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
  order: 0;
}

.column-40 {
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
  order: 0;
}

.card-column-no-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-shadow {
  height: 100%;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
}

main {
  padding: 15px;
  text-align: center;
  color: #444;
}

main p {
  max-width: 1000px;
  text-align: left;
  margin: 0 auto;
  color: #444;
  line-height: 1.5;
}

main .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.row h3 {
  margin-top: 0;
}

footer {
  font-size: 14px;
  background-color: #929fba;
  color: white;
  height: 40px;
  padding-top: 8px;
}

@media only screen and (max-width: 600px) {
  .column-60,
  .column-40 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .column-60 {
    padding-top: 10px;
    order: 2;
  }

  .column-40 {
    order: 1;
  }
}
