.session-list ul {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.session-list li {
  width: 100%;
  padding: 7px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.session-date {
  font-size: 12px;
}
