.session-list ul {
  margin: 0 auto;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.session-list li {
  border: solid black 1px;
  padding: 7px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.session-date {
  font-size: 12px;
}
