* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 45px 15px;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

dream-description::before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "here";
}

table {
  width: 100%;
}
.help {
  font-size: 12px;
}

.tag {
  border: solid black 1px;
  padding: 5px;
  font-size: 12px;
}
#container-compare,
#container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
}

ul {
  margin: 0 auto;
  width: 100px;
}
