* {
  box-sizing: border-box;
}

.white-gradient {
  background: linear-gradient(transparent, white);
}

.login-form {
  padding: 25px;
  background-color: white;
  border: solid #444 3px;
  border-radius: 10px;
}

body {
  /*
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)),
    url("./images/arrows-background.jpg");
  background-size: cover;

  background-attachment: fixed;
  */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

section {
  padding: 10px 15px;
}

h1 {
  margin: 15px 0 0 0;
  font-size: 45px;
}

.big {
  font-size: 70px;
}

.b {
  background-color: black;
  color: #fff535;
}

.form-error {
  color: rgb(253, 27, 20);
}

.max-width {
  max-width: 380px;
}

.bg-yellow {
  background-color: rgba(255, 245, 53, 0.2);
}

.bg-blue {
  background-color: rgba(65, 183, 200, 0.2);
}

.bg-red {
  background-color: rgba(253, 27, 20, 0.2);
}

h2,
h3 {
  margin: 15px 0;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

button {
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  padding: 10px;
  border: solid #444 1px;
  color: #444;
  font-weight: bold;
}

.button-secondary {
  border: 1px solid #444;
  color: #444;
  background-color: transparent;
}

.button-secondary:hover {
  border: 1px solid #444;
  background-color: gainsboro;
}

/*
.button-secondary {
  border: 1px solid gainsboro;
  color: #444;
  background-color: white;
  background-image: linear-gradient(to bottom, white, #7d7e7d);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=#7d7e7d);
}

.button-secondary:hover {
  border: 1px solid gainsboro;
  background-color: gainsboro;
  background-image: linear-gradient(to bottom, gainsboro, #646464);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=gainsboro, endColorstr=#646464);
}
*/
.button-primary {
  border: 1px solid #616261;
  color: #ffffff;
  background-color: #7d7e7d;
  background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.button-primary:hover {
  border: 1px solid #4a4b4a;
  background-color: #646464;
  background-image: linear-gradient(to bottom, #646464, #282828);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}

.sub-section {
  padding: 7px 0;
}

.help {
  font-size: 12px;
}

#container-compare,
#container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}
/*
dd ul {
  margin: 0 auto;
  width: 100px;
}
*/
form {
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
}

input,
textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

select {
  position: relative;
  top: -1px;
  height: 47px;
  font-size: 20px;
  margin-left: 5px;
}

input[type="number"] {
  width: 70px;
}

button:disabled {
  color: darkgray;
}

label {
  display: block;
}

fieldset {
  text-align: left;
  border: none;
  padding: 0;
}

.form-section {
  margin-bottom: 30px;
}

canvas {
  cursor: crosshair;
  touch-action: none;
}

.stripes:nth-child(odd) {
  background-color: white;
}
.stripes:nth-child(even) {
  background-color: gainsboro;
}

dl {
  max-width: 380px;
  margin: 0 auto;
}
dt {
  font-weight: bold;
  float: left;
  width: 50%;
  text-align: right;
  padding: 0.25em;
  clear: left;
  padding-right: 10px;
}
dd {
  margin: 0;
  text-align: left;
  float: left;
  width: 50%;
  padding: 0.25em 0;
  padding-left: 10px;
}
dl:after {
  content: "";
  display: table;
  clear: both;
}

dd ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.custom-select .Select-control {
  padding: 9px;
}
.custom-select .Select-placeholder {
  margin-top: 12px;
}

.custom-select .Select-input {
  margin-left: 1px;
}

.custom-select .Select-value {
  margin: 3px;
}
