* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("./images/arrows-background.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /*
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.6)),
    url("./images/arrows-background.jpg");
  background-size: cover;

  background-attachment: fixed;
  */
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: gainsboro;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  margin-top: 2%;
  border-top: solid transparent 30px;
  padding: 0 15px;
}

section {
  padding: 10px 15px;
}

h1 {
  margin: 15px 0 0 0;
  font-size: 100px;
}

.b {
  background-color: black;
  color: #fff535;
}

.form-error {
  color: rgb(253, 27, 20);
}

.max-width {
  max-width: 380px;
}

.bg-yellow {
  background-color: rgba(255, 245, 53, 0.2);
}

.bg-blue {
  background-color: rgba(65, 183, 200, 0.2);
}

.bg-red {
  background-color: rgba(253, 27, 20, 0.2);
}

h2,
h3 {
  margin: 15px 0;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

button {
  margin: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding: 10px;
  border: solid #444 1px;
  color: #444;
  font-weight: bold;
}

/*
.btn-grad {
  background-image: linear-gradient(to right, #f09819 0%, #edde5d 51%);
}
.btn-grad:hover {
  background-position: right center;
}
.button-secondary {
  border: 1px solid #d7dada;
  color: #000000;
  background-color: #f4f5f5;
  background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.button-secondary:hover {
  border: 1px solid #bfc4c4;
  background-color: #d9dddd;
  background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}*/
/*
.button_secondary {
  border: 1px solid #b7b7b7;
  color: #000000;
  background-color: #d3d3d3;
  background-image: linear-gradient(to bottom, #d3d3d3, #707070);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

.button_secondary:hover {
  border: 1px solid #a0a0a0;
  background-color: #bababa;
  background-image: linear-gradient(to bottom, #bababa, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}*/

.button-primary {
  border: 1px solid #616261;
  color: #ffffff;
  background-color: #7d7e7d;
  background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.button-primary:hover {
  border: 1px solid #4a4b4a;
  background-color: #646464;
  background-image: linear-gradient(to bottom, #646464, #282828);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}

.sub-section {
  padding: 7px 0;
}

.help {
  font-size: 12px;
}

#container-compare,
#container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
}

dd ul {
  margin: 0 auto;
  width: 100px;
}

form {
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
}

input,
textarea {
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

input[type="number"] {
  width: 50px;
}

button:disabled {
  color: darkgray;
}

label {
  display: block;
}

fieldset {
  text-align: left;
  border: none;
  padding: 0;
}

.form-section {
  margin-bottom: 30px;
}

canvas {
  cursor: crosshair;
  touch-action: none;
}
